{% extends "base.html" %}
{% block content %}

{% import _self as forms %}
{% import "macros/alerts.html" as alerts %}

{{alerts.show_errors(errors)}}

{% if type is same as("suggest_drink") %}
	{{forms.drink_form(
		"Suggest drink",
		recipe, 
		categories, 
		"#{base_path}/drink/suggestion/new",
		"Send recipe",
		new_ingredient_name,
		new_ingredient_amount)}}

{% elseif type is same as("new_drink") %}
	{{forms.drink_form(
		"New drink",
		recipe, 
		categories,
		"#{base_path}/drink/new",
		"Save recipe",
		new_ingredient_name,
		new_ingredient_amount)}}

{% else %}
	{{forms.drink_form(
		"Edit drink #{recipe.name}",
		recipe, 
		categories, 
		"#{base_path}/drink/#{recipe.id}/edit",
		"Save recipe",
		new_ingredient_name,
		new_ingredient_amount)}}

{% endif %}

{% endblock %}

{% macro drink_form(headline, recipe, categories, action, button_text, new_ingredient_name, new_ingredient_amount) %}
	{% import "macros/forms_and_input.html" as input %}

	<h1>{{headline}}</h1><br>

	<form method="post" action="{{action}}">
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" name="name" value="{{recipe.name}}"></input>
		</div>

		<div class="form-group">
			<label>Category</label>
			{{input.select(categories, 'category', recipe.category)}}
		</div>

		<div class="form-group">
			<label>Ingredients</label>
			{{input.ingredient_checkbox_group(recipe.ingredients)}}		
		</div>

		<div class="form-group">
			<label>Add ingredient</label>
			<input type="text" class="form-control" name="new_ingredient_name" placeholder="Ingredient" value="{{new_ingredient_name}}"></input>
			<input type="text" class="form-control" name="new_ingredient_amount" placeholder="Amount" value="{{new_ingredient_amount}}"></input>
			<button type="submit" class="btn btn-primary" name="action" value="add">Done</button>
		</div>

		<div class="form-group">
			<label>Instructions</label>
			<textarea class="form-control" name="instructions">{{recipe.instructions}}</textarea>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary" name="action" value="save">{{button_text}}</button>
		</div>
	</form>

{% endmacro %}