{% extends "base.html" %}
{% block content %}

{% import "macros/alerts.html" as alerts %}

{{alerts.show_success(success)}}

<h1>{{recipe.name}}</h1>

<p>Category: {{recipe.category}}</p>

<table class="table table-condensed table-striped">
	<tbody>
	{% for ingredient in recipe.ingredients %}
		<tr>
			<td>{{ingredient.amount}}</td>
			<td>{{ingredient.name}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<p>
	{{recipe.instructions}}
</p>

<br>


{% if user_logged_in and user_logged_in.admin == true %}
<p>
	<a href="{{base_path}}/drink/{{recipe.id}}/edit" class="btn btn-primary btn-sm">Edit</a>

	<!-- (delete = get), macros..
	<form method="post" action="{{base_path}}/game/{{game.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa pelin?">
      <button type="submit" class="btn btn-danger">Poista</button>
    </form> -->
	<a href="{{base_path}}/drink/{{recipe.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
</p>
{% endif %}

{% endblock %}