{% extends "base.html" %}
{% block content %}

<h1>Drinks</h1>
<hr>

{% if user_logged_in %}
	<p style="font-weight:bold; font-size:1.25em; font-style:italic;">What are you in the mood for today, {{user_logged_in.name}}?</p>
{% endif %}

<form method="get" action="">
	<h3>Search</h3>
	<div class="form-group row">
		<label class="col-xs-4 form-control-label">Name contains</label>
		<div class="col-xs-8">
			<input type="text" class="form-control" name="search" value={{chosen.search}}>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-xs-4 form-control-label">In one of the following categories</label>
		<div class="col-xs-8">
			<select class="form-control" multiple="" name="categories[]">
				{% for category in categories %}
					{% if category.id in chosen.categories %}
						<option value="{{category.id}}" selected>{{category.name}}</option>
					{% else %}
						<option value="{{category.id}}">{{category.name}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	<!-- ridiculous when many ingredients! a text box instead (only one ingredient) or same checkbox thingy? unless bootstrap-select? or idk -->
	<div class="form-group row">
		<label class="col-xs-4 form-control-label">Contains all of the following ingredients</label>
		<div class="col-xs-8">
			<select class="form-control" multiple="" name="ingredients[]">
				{% for ingredient in ingredients %}
					{% if ingredient.id in chosen.ingredients %}
						<option value="{{ingredient.id}}" selected>{{ingredient.name}}</option>
					{% else %}
						<option value="{{ingredient.id}}">{{ingredient.name}}</option>
					{% endif %}}
				{% endfor %}
			</select>
		</div>
	</div>

	<!-- ugly scheiss -->
	<div class="form-group row">
		<h4 class="col-xs-5">Order by</h4>
		<div class="clo-xs-7">
			{% if chosen.order is same as('ingredientnumber') %}
				<label class="radio-inline"><input type="radio" name="order" value="name">Name</label>
				<label class="radio-inline"><input type="radio" name="order" value="category">Category</label>
				<label class="radio-inline"><input checked type="radio" name="order" value="ingredientnumber">Number of ingredients</label>
			{% elseif chosen.order is same as('category') %}
				<label class="radio-inline"><input type="radio" name="order" value="name">Name</label>
				<label class="radio-inline"><input checked type="radio" name="order" value="category">Category</label>
				<label class="radio-inline"><input type="radio" name="order" value="ingredientnumber">Number of ingredients</label>
			{% else %}
				<label class="radio-inline"><input checked type="radio" name="order" value="name">Name</label>
				<label class="radio-inline"><input type="radio" name="order" value="category">Category</label>
				<label class="radio-inline"><input type="radio" name="order" value="ingredientnumber">Number of ingredients</label>
			{% endif %}
		</div>
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>

<br>

<div>
<table class="table table-bordered table-striped">
	<thead>
		<th>Name</th>
		<th>Category</th>
		<th>Number of ingredients</th>
	</thead>

	<tbody>
		{% for recipe in recipes %}
		<tr>
			<td><a href="{{base_path}}/drink/{{recipe.id}}">{{recipe.name}}</a></td>
			<td>{{recipe.category}}</td>
			<td>{{recipe.numberOfIngredients}}</td>

			<!--make prettier, obviously. plus that it checks user for every recipe -->
			{% if user_logged_in and user_logged_in.admin == true %}
				<td><a href="{{base_path}}/drink/{{recipe.id}}/delete" class="btn btn-danger btn-sm">Delete</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>

<!-- later maybe... has to keep the chosen thingies! i.e. the search form stuff -->
<!-- <nav>
  <ul class="pagination">
    <li class="{% if not prev_page %}disabled{% endif %}"><a href="{{base_path}}/drinks?page={{prev_page}}"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
    {% for page in 1..pages %}
      <li class="{% if curr_page == page %}active{% endif %}"><a href="{{base_path}}/drinks?page={{page}}">{{page}}</a></li>
    {% endfor %}
    <li class="{% if not next_page %}disabled{% endif %}"><a href="{{base_path}}/drinks?page={{next_page}}"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
  </ul>
</nav> -->
</div>

<p>
{% if user_logged_in and user_logged_in.admin == true %}
	<a href="{{base_path}}/drink/new" class="btn btn-primary btn-sm">Add drink</a>
{% else %}
	<a href="{{base_path}}/drink/suggestion/new" class="btn btn-primary btn-sm">Suggest new drink</a>
{% endif %}
</p>

{% endblock %}