{% extends "base.html" %}
{% block content %}

<h1>Drinks</h1>

{% if user_logged_in %}
	<h4>What are you in the mood for today, {{user_logged_in.name}}?</h4>
{% endif %}

<table class="table table-bordered table-striped">
	<thead>
		<th>Name</th>
		<th>Category</th>
		<th>Number of ingredients</th>
	</thead>

	<tbody>
		{% for recipe in recipes %}
		<tr>
			<td><a href="{{base_path}}/drink/{{recipe.id}}">{{recipe.name}}</a></td>
			<td>{{recipe.category}}</td>
			<td>{{recipe.numberOfIngredients}}</td>

			<!-- user can still delete of course, since nothing stops them from going to /drink/:id/delete yet -->
			{% if user_logged_in %}
			<td><a href="{{base_path}}/drink/{{recipe.id}}/delete" class="btn btn-danger btn-sm">Delete</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>

<p>
	<a href="{{base_path}}/drink/new" class="btn btn-primary btn-sm">Add drink</a>
</p>

{% endblock %}