{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

{% if errors %}
	<div class="alert alert-danger">
		<ul>
			{% for error in errors %}
			<li>{{error}}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}


<h1>New Drink</h1>
<br>

<form method="post" action="{{base_path}}/drink/new">
	<div class="form-group">
		<label for="inputName">Name</label>
		<input type="text" class="form-control" id="inputName" name="name" value="{{recipe.name}}"></input>
	</div>
	<div class="form-group">
		<label>Category</label>
		<select class="form-control" name="category">
			{% for category in categories %}
				{% if category is same as(recipe.category) %}
					<option value="{{category}}" selected>{{category}}</option>
				{% else %}
					<option value="{{category}}">{{category}}</option>
				{% endif %}}
			{% endfor %}
		</select>
	</div>


	<div class="form-group">
		<label>Ingredients</label>

		{% set counter = 1 %}
		{% for ingredient in recipe.ingredients %}

		<div class="checkbox">
			<label>
			<input type="checkbox" name="ing_name{{counter}}" value="{{ingredient.name}}" checked="checked">{{ingredient.name}}:
			</label>
			<input type="text" class="form-control" name="ing_amount{{counter}}" value="{{ingredient.amount}}"></input>
			<br>
		</div>
		
		{% set counter = counter +1 %}
		{% endfor %}		
	</div>
	<div class="form-group">
		<label>Add ingredient</label>
		<input type="text" class="form-control" name="new_ingredient_name" placeholder="Ingredient"></input>
		<input type="text" class="form-control" name="new_ingredient_amount" placeholder="Amount"></input>
		<button type="submit" class="btn btn-primary" name="action" value="add">Add</button>
	</div>

	<div class="form-group">
		<label>Instructions</label>
		<textarea class="form-control" name="instructions">  {{recipe.instructions}}
		</textarea>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary" name="action" value="save">Save</button>
	</div>
</form>


{% endblock %}