{% extends "base.html" %}
{% block content %}

{% import "macros/tables.html" as tables %}
{% import "macros/alerts.html" as alerts %}
{% import "macros/forms_and_input.html" as forms %}

{{alerts.show_success(success)}}
{{alerts.show_errors(errors)}}

<h1>{{recipe.name}}</h1>
<p>Category: {{recipe.category}}</p>

{{tables.show_drink(recipe)}}

{% if type is same as("suggestion") %}
	<div>
		<a href="{{base_path}}/drink/{{recipe.id}}/edit" class="btn btn-primary btn-block">  Edit</a>
		<a href="{{base_path}}/drink/suggestion/{{recipe.id}}/approve" class="btn btn-success btn-block">Approve</a>
		{{forms.delete_button("#{base_path}/drink/#{recipe.id}/delete", "Are you sure you want to dismiss #{recipe.name}?", "btn-block", 'Dismiss')}}
	</div>

{% elseif user_logged_in and user_logged_in.admin == true %}
	<div>
		<a href="{{base_path}}/drink/{{recipe.id}}/edit" class="btn btn-primary btn-block">Edit</a>
		{{forms.delete_button("#{base_path}/drink/#{recipe.id}/delete", "Are you sure you want to delete #{recipe.name}?", "btn-block")}}
	</div>

{% endif %}
{% endblock %}