{% extends "base.html" %}
{% block content %}

{% if success %}
<div class="alert alert-success">
	{{success}}
</div>
{% endif %}

{% if errors %}
	<div class="alert alert-danger">
		<ul>
			{% for error in errors %}
			<li>{{error}}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<h1>{{recipe.name}}</h1>

<p>Category: {{recipe.category}}</p>

<table class="table table-condensed table-striped">
	<tbody>
	{% for ingredient in recipe.ingredients %}
		<tr>
			<td>{{ingredient.amount}}</td>
			<td>{{ingredient.name}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<p>
	{{recipe.instructions}}
</p>

<br>


<p>
	<a href="{{base_path}}/drink/suggestion/{{recipe.id}}/approve" class="btn btn-success btn-sm">Approve</a>
	<a href="{{base_path}}/drink/{{recipe.id}}/edit" class="btn btn-primary btn-sm">Edit</a>
	<a href="{{base_path}}/drink/{{recipe.id}}/delete" class="btn btn-danger btn-sm">Dismiss</a>
</p>


{% endblock %}