{% extends "base.html" %}
{% block content %}

{% import "macros/alerts.html" as alerts %}

{{alerts.show_success(success)}}
<!-- when??? just delete..? -->
{{alerts.show_errors(errors)}}


<h1>{{recipe.name}}</h1>

<p>Category: {{recipe.category}}</p>

<table class="table table-condensed table-striped">
	<tbody>
	{% for ingredient in recipe.ingredients %}
		<tr>
			<td>{{ingredient.amount}}</td>
			<td>{{ingredient.name}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<p>
	{{recipe.instructions}}
</p>

<br>


<p>
	<a href="{{base_path}}/drink/suggestion/{{recipe.id}}/approve" class="btn btn-success btn-sm">Approve</a>
	<a href="{{base_path}}/drink/{{recipe.id}}/edit" class="btn btn-primary btn-sm">Edit</a>
	<a href="{{base_path}}/drink/{{recipe.id}}/delete" class="btn btn-danger btn-sm">Dismiss</a>
</p>


{% endblock %}