{% extends "base.html" %}
{% block content %}

{% import _self as macros %}
{% import "macros/forms_and_input.html" as forms %}


<h1>Users</h1>

<table class="table table-bordered table-striped">
	<thead>
		<th>Name</th>
		<th>Admin</th>
		<th>Number of recipes added</th>
	</thead>

	<tbody>
		{% for user in users %}
		<tr>
			<td><a href="{{base_path}}/user/{{user.id}}">{{user.name}}</a></td>			
			{{macros.show_admin_status(user.admin == true)}}
			
			<td>{{user.recipes_added}}</td>

			<td>{{forms.delete_button("#{base_path}/user/#{user.id}/delete", "Are you sure you want to remove #{user.name}?")}}
			
			<td>
			{% if user.admin == false %}
				<a href="{{base_path}}/user/{{user.id}}/makeadmin" class="btn btn-success btn-sm">Make admin</a>
			{% endif %}
			</td>

		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

{% macro show_admin_status(is_admin) %}
	{% if is_admin == true %}
		<td>yes</td>
	{% else %}
		<td>no</td>
	{% endif %}
{% endmacro %}