{% extends "base.html" %}
{% block content %}

{% import "macros/alerts.html" as alerts %}
{% import _self as macros %}
{% import "macros/forms_and_input.html" as forms %}

{{alerts.show_success(success)}}
{{alerts.show_errors(errors)}}

{% if user.admin == true %}
	<h1>User: {{user.name}} <small>admin</small></h1>
{% else %}
	<h1>User: {{user.name}}</h1>
{% endif %}

<br>

<div class="container">
	<h2>Drinks</h2>
	<div class="panel panel-primary">
		<div class="panel-heading">Approved</div>
		<div class="panel-body">
			{{macros.list(base_path, approved, true)}}
		</div>
	</div>
	{% if user.admin == false %}
	<div class="panel panel-primary">
		<div class="panel-heading">Pending approval</div>
		<div class="panel-body">
			{{macros.list(base_path, pending, false, user_logged_in.admin == true)}}
		</div>
	</div>
	{% endif %}
</div>

<br>
{% if user_logged_in.id == user.id %}
	<form method="post" action="{{base_path}}/user/{{user.id}}/password" class="form-inline">
		<div class="form-group">
			<label>New password: </label>
			<input type="password" class="form-control" name="password1">
		</div>
		<div class="form-group">
			<label>Password again: </label>
			<input type="password" class="form-control" name="password2">
		</div>
		<button type="submit" class="btn btn-primary">Change password</button>
	</form>
{% endif %}

<br>
{{forms.delete_button("#{base_path}/user/#{user.id}/delete", "Are you sure you want to delete #{user.name}?", "btn-sm", "Delete account")}}

{% endblock %}


{% macro list(base_path, recipes, approved, user_logged_in_is_admin) %}

	<div class="list-group">
	{% if approved or user_logged_in_is_admin != true %}
		{% for recipe in recipes %}
			<a href="{{base_path}}/drink/{{recipe.id}}" class="list-group-item">{{recipe.name}}</a>		
		{% endfor %}

	{% else %}
		{% for recipe in recipes %}
			<a href="{{base_path}}/drink/suggestion/{{recipe.id}}" class="list-group-item">{{recipe.name}}</a>
		{% endfor %}
		
	{% endif %}
	</div>

{% endmacro %}