{% extends "base.html" %}

{% block content %}

{% import "macros/alerts.html" as alerts %}

{{alerts.show_success(success)}}
{{alerts.show_message(message)}}

<div class="page-header">
	<h1>Welcome to the drinkkiarkisto</h1>
</div>

<br>
<p>Whether you want to be anonymous or a registered user in our great community you will surely enjoy this awesome Drinkkiarkisto, where anyone is free to share their best drink recipes or just browse our <strong>massive</strong> database.
By creating a user account you'll be able to keep track of all of the drinks you've added and if you prove to be a real asset to the community you might even be granted the almost godlike powers of an admin. Enjoy!</p>

{% if not user_logged_in %}
<br><br>
<div>
	<a href="{{base_path}}/login" class="btn btn-primary btn-lg">Log in</a>
	<a href="{{base_path}}/user/new" class="btn btn-primary btn-lg">Sign up</a>
</div>
{% endif %}

{% endblock %}
