{% extends "base.html" %}
{% block content %}

<h1>Cuba Libre</h1>

<p>Category: Cocktail</p>

<table class="table table-condensed table-striped">
	<tbody>
		<tr>
			<td>12 cl</td>
			<td>Cola</td>
		</tr>
		<tr>
			<td>5 cl</td>
			<td>Light rum</td>
		</tr>
		<tr>
			<td>1 cl</td>
			<td>Lime juice</td>
		</tr>
	</tbody>
</table>

<p>
	Squeeze a lime into a Collins glass, add 2 or 3 ice cubes, and pour in the rum. Fill with cold Coca-Cola. Stir briefly.
</p>

<br>

<p>
	<a href="" class="btn btn-primary btn-sm">Edit</a>
</p>

{% endblock %}